.dialog {
    position: relative;
    display: flex;
    width: 100%;

    .features &,
    .process & {
        height: 34.7rem;

        @media (max-width: $tablet) {
            height: 15.3rem;
        }
    }

    .steps & {
        height: 63.8rem; 

        @media (max-width: $tablet) {
            height: 34rem;
        }
    }

    .result & {
        height: 77.6rem;

        @media (max-width: $tablet) {
            height: 42.3rem;
            margin-bottom: 5rem;
        }
    }

    .directions & {
        height: 34.7rem;

        @media (max-width: $tablet) {
            height: 19.8rem;
        }
    }
}

.dialog__person {
    position: absolute;
    display: flex;
    align-items: flex-start;
    
    &--1 {
        .features &,
        .process & {
            top: 0;
            left: 4.8rem;

            @media (max-width: $tablet) {
                left: 0;
            }
        } 

        .steps & {
            top: 0;
            left: -16.2rem;

            @media (max-width: $tablet) {
                left: -10.6rem;
            }

        } 

        .result & {
            top: 4rem;
            left: -18.2rem;

            @media (max-width: $tablet) {
                left: -10.8rem;
            }
        }

        .directions & {
            top: -1rem;
            left: 4.8rem;

            @media (max-width: $tablet) {
                left: -3.1rem;
            }
        } 
    }

    &--2 {
        .features &,
        .process & {
            top: 7.8rem;
            right: 4.8rem;

            @media (max-width: $tablet) {
                top: 6.6rem;
                right: 0;
            }
        } 

        .steps & {
            top: 0;
            right: -7.8rem;

            @media (max-width: $tablet) {
                top: 7.8rem;
                right: -6.8rem;
            }
        }

        .result & {
            top: 1rem;
            right: 6.9rem;

            @media (max-width: $tablet) {
                top: 11.3rem;
                right: -3.8rem;
            }
        }

        .directions & {
            top: 6.8rem;
            right: 4.8rem;

            @media (max-width: $tablet) {
                top: 6rem;
                right: -3.1rem;
            }
        } 
    }
}

.dialog__img {

    &--features-1,
    &--features-2,
    &--process-1,
    &--process-2 {
        width: 25.2rem;
        height: 26.2rem;

        @media (max-width: $tablet) {
            width: 8.2rem;
            height: 8.7rem;
        }
    }

    &--steps-1 {
        width: 50.9rem;
        height: 51.9rem;

        @media (max-width: $tablet) {
            width: 22.6rem;
            height: 23rem;
        }
    }

    &--steps-2 {
        width: 50.9rem;
        height: 63.8rem;

        @media (max-width: $tablet) {
            width: 21.1rem;
            height: 26.2rem;
        }
    }

    &--result-1 {
        width: 61rem;
        height: 51.8rem;

        @media (max-width: $tablet) {
            width: 26.1rem;
            height: 22.2rem;
        }
    }

    &--result-2 {
        width: 37.7rem;
        height: 77.6rem;

        @media (max-width: $tablet) {
            width: 17rem;
            height: 34.9rem;
        }
    }

    &--directions-1,
    &--directions-2 {
        width: 25.2rem;
        height: 26.2rem;
        
        @media (max-width: $tablet) {
            width: 12.3rem;
            height: 13rem;
        }
    }
}

.dialog__text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.5rem;
    height: 8.5rem;
    border-radius: 2rem;
    background-color: #efefef;
    font-family: $font-sans-regular;
    font-size: 2.4rem;
    line-height: 1.17;
    color: $color-black;

    .page-main__block-wrapper--black-bg & {
        background-color: #cacaca;
    }

    @media (max-width: $tablet) {
        width: 13.6rem;
        height: 4.3rem;
        font-size: 1.4rem;
        line-height: 1.07;
        border-radius: 1rem;
    }

    &--features-1 {
        margin-top: 1.9rem;
        padding-left: 6.5rem;
        padding-right: 6.5rem;

        @media (max-width: $tablet) {
            width: 12.6rem;
            height: 3.9rem;
            margin-top: -1.8rem;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
        }
    }

    &--features-2 {
        margin-top: 11.3rem;
        padding-left: 5.8rem;
        padding-right: 5.8rem;

        @media (max-width: $tablet) {
            width: 12.6rem;
            height: 3.9rem;
            margin-top: -1.6rem;
            margin-right: -0.9rem;
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
    }

    &--steps-1 {
        margin-top: 4.2rem;
        margin-left: -6rem;
        padding-left: 5.4rem;
        padding-right: 5.4rem;

        @media (max-width: $tablet) {
            margin-top: 0.5rem;
            margin-left: -3.7rem;
            padding-left: 1.9rem;
            padding-right: 1.9rem;
        }
    }

    &--steps-2 {
        margin-top: 17.4rem;
        margin-right: -9.6rem;
        padding-left: 7.2rem;
        padding-right: 7.2rem;

        @media (max-width: $tablet) {
            margin-top: -0.6rem;
            margin-right: -8.9rem;
            padding-left: 2.7rem;
            padding-right: 2.7rem;
        }
    }

    &--process-1 {
        margin-top: 1.9rem;
        padding-left: 7.4rem;
        padding-right: 7.5rem;

        @media (max-width: $tablet) {
            margin-top: -1.1rem;
            margin-left: -0.5rem;
            padding-left: 2.9rem;
            padding-right: 2.8rem;
        }
    }

    &--process-2 {
        margin-top: 11.3rem;
        padding-left: 5.6rem;
        padding-right: 5.7rem;

        @media (max-width: $tablet) {
            margin-top: 0;
            margin-right: -0.9rem;
            padding-left: 1.3rem;
            padding-right: 1.4rem;
        }
    }

    &--result-1 {
        margin-top: 2.4rem;
        margin-left: -16rem;
        padding-left: 6.3rem;
        padding-right: 6.3rem;

        @media (max-width: $tablet) {
            margin-top: -1.1rem;
            margin-left: -8rem;
            padding-left: 2.4rem;
            padding-right: 1.9rem;
        }
    }

    &--result-2 {
        margin-top: 25.8rem;
        margin-right: -6rem;
        padding-right: 3.4rem;
        padding-left: 3.4rem;

        @media (max-width: $tablet) {
            margin-top: 0.2rem;
            margin-right: -7.5rem;
            padding-right: 3rem;
            padding-left: 3rem;
            top: -2.3rem;
        }
    }

    &--directions-1 {
        margin-top: 1rem;
        margin-left: 3rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        @media (max-width: $tablet) {
            width: 17.8rem;
            height: 4.8rem;
            margin-top: 0;
            margin-left: -1rem;
            padding-left: 1.9rem;
            padding-right: 1.9rem;
        }
    }

    &--directions-2 {
        width: 33.7rem;
        margin-top: 10rem;
        margin-right: 1rem;
        padding-left: 2.6rem;
        padding-right: 2.7rem;

        @media (max-width: $tablet) {
            width: 17.8rem;
            height: 4.8rem;
            margin-top: 7.2rem;
            margin-right: 0.4rem;
            padding-left: 1.4rem;
            padding-right: 1.4rem;
        }
    }

    &::after {
        position: absolute;
        display: flex;
        content: '';
        width: 2.8rem;
        height: 2.8rem;
        background-image: url('../img/page/dialog-pointer-light.svg');
        background-repeat: no-repeat;
        background-size: cover;

        .page-main__block-wrapper--black-bg & {
            background-image: url('../img/page/dialog-pointer-dark.svg');
        }

        @media (max-width: $tablet) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &--bottom-left {
        &::after {
            bottom: -.4rem;
            left: -.6rem;

            @media (max-width: $tablet) {
                bottom: -0.2rem;
                left: -0.3rem;
            }
        }
    }

    &--bottom-right {
        &::after {
            bottom: -.4rem;
            right: -.6rem;
            transform: scaleX(-1);

            @media (max-width: $tablet) {
                bottom: -.2rem;
                right: -.3rem;
            }
        }

        
        &.dialog__text--directions-2 {
            &::after {
                @media (max-width: $tablet) {
                    transform: scale(-1, -1);
                    bottom: auto;
                    top: -0.2rem;
                    right: -0.3rem;
                }
            }
        }
    }

    &--top-right {
        &::after {
            top: -.4rem;
            right: -.6rem;
            transform: scale(-1, -1);

            @media (max-width: $tablet) {
                top: -0.2rem;
                right: -0.3rem;
            }
        }

        &.dialog__text--result-2 {
            &::after {
                @media (max-width: $tablet) {
                    transform: scaleX(-1);
                    top: auto;
                    bottom: -0.2rem;
                    right: -0.3rem;
                }
            }
        }
    }

    &--top-left {
        &::after {
            top: -.4rem;
            left: -.6rem;
            transform: scaleY(-1);

            @media (max-width: $tablet) {
                top: -0.2rem;
                left: -0.3rem;
            }
        }
    }
}