.directions {
    margin-bottom: 7.5rem;
    padding-top: 10rem;

    @media (max-width: $tablet) {
        margin-bottom: 0;
        padding-top: 7.5rem;
    }
}

.directions__title {
    margin-bottom: 4.9rem;
    padding-top: 11rem;
    color: $color-dark;

    @media (max-width: $tablet) {
        padding-top: 5rem;
        margin-bottom: 1.3rem;
    }
}

.directions__wrapper {

    &::before {
        display: flex;
        content: '';
        width: 3.4rem;
        height: 3.4rem;
        background-color: #ffae0f;
        margin-bottom: 1rem;
        border-radius: 0.5rem;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}

.directions__inner {
    display: flex;
}

.directions__list {
    position: relative;
    width: 54rem;
    margin-right: 13.2rem;

    @media (max-width: $tablet) {
        width: 100%;
        margin-right: 0;
    }
}

.directions__item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms ease-in-out;

    @media (max-width: $tablet) {
        position: relative;
        opacity: 1;
    }

    &--visible {
        opacity: 1;
    }
}

.directions__item-controls {
    @media (max-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #d7d7d7;
    }
}

.directions__item-title {
    margin-bottom: 0.5rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2;

    @media (max-width: $tablet) {
        font-size: 1.8rem;
        line-height: 1;
        transition: ease-in-out 200ms;

        .directions__item.active & {
            color: #ffae0f;
        }
    }
}

.directions__item-icon-opener {
    display: none;

    @media (max-width: $tablet) {
        display: flex;
        width: 100%;
        max-width: 1rem;
        height: 1rem;
        transition: transform ease-in-out 200ms;

        .directions__item.active & {
            fill: #ffae0f;
            transform: rotate(180deg);
        }
    }
}

.directions__item-body {
    @media (max-width: $tablet) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.directions__item-text {
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $color-dark;

    @media (max-width: $tablet) {
        max-width: 44rem;
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.directions__nav-list {
    position: static;
    margin-top: -1rem;

    @media (max-width: $tablet) {
        display: none;
    }
}

.directions__nav-item {
    margin-bottom: 0.5rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2;
    color: $color-dark;
    text-align: left;
    cursor: pointer;

    &:hover {
        color: #6d7278;
    }

    &--active {
        color: #ffae0f;

        &:hover {
            color: #ffae0f;  
        }
    }
}