.features {
  margin-bottom: 16.6rem;
  padding-top: 8.2rem;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.8rem;
    padding-top: 5.3rem;
  }
}

.features__title {
  margin-bottom: 7rem;
  padding-top: 12rem;
  color: $color-dark;

  @media (max-width: $tablet) {
    margin-bottom: 2.3rem;
    padding-top: 3.5rem;
  }
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.2%;

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 2.2rem;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.features__item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  @media (max-width: $tablet) {
    flex-direction: row;
  }
}

.features__item-icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3.3rem;

  @media (max-width: $tablet) {
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.features__item-title {
  margin-bottom: 0;
  font-family: $font-serif-bold;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1.4;
  color: $color-dark;
  text-align: center;

  @media (max-width: $tablet) {
    font-size: 1.8rem;
    text-align: left;
  }
}

.features__item-text {
  max-width: 25.2rem;
  font-family: $font-sans-regular;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.75;
  color: $color-dark;
  text-align: center;

  @media (max-width: $tablet) {
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: left;
  }
}

.features__btn {
  @media (max-width: $tablet) {
    max-width: 15rem;
    margin-top: 3rem;
  }
}

.features__btn {
  @media (max-width: $tablet) {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}
