.page-main {
  overflow: hidden;
}

.page-main__block-wrapper {
  position: relative;
  padding-right: 14.2rem;
  padding-left: 14.2rem;

  @media (max-width: $tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  @media (min-width: $tablet + 1) and (max-width: $laptop) {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  &--black-bg {
    background-color: $color-black;
  }

  &--2 {
    padding-bottom: 8rem;

    @media (max-width: $tablet) {
      padding-bottom: 5rem;
    }

    &::before {
      position: absolute;
      top: -11.6rem;
      right: 37rem;
      display: flex;
      content: '';
      width: 20.2rem;
      height: 11.8rem;
      background-image: url('../img/page/block-wrapper-art.svg');
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &--4 {
    padding-bottom: 5rem;

    @media (max-width: $tablet) {
      padding-bottom: 3rem;
    }
  }
}

.page-main__title {
  font-family: $font-serif-bold;
  font-weight: normal;

  &--h2 {
    font-size: 4.5rem;
    line-height: 1.07;

    @media (max-width: $tablet) {
      max-width: 100%;
      font-size: 2.4rem;
    }
  }
}
