.request {
    padding-top: 5rem;

    @media (max-width: $tablet) {
        padding-top: 4rem;
    }
}

.request__title {
    max-width: 65rem;
    margin-bottom: 6.4rem;
    line-height: 1.3;
    color: $color-white;

    @media (max-width: $tablet) {
        max-width: 26.2rem;
        margin-bottom: 3.7rem;
        line-height: 1;
    }
}

.request__form-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 1.2rem;
    }
}


.request__form-block {
    width: 48.4%;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.request__field-container {
    margin-bottom: 3rem;

    @media (max-width: $tablet) {
        margin-bottom: 2.5rem;
    }

    .dropdown-content {
        border: none;
        background-color: #1e1e1e;
    }

    .dropdown-content__item {
        font-size: 2rem;
        color: $color-white;

        @media (max-width: $tablet) {
            font-size: 1.4rem;
        }

        b {
            font-family: $font-sans-bold;
            font-weight: normal;
        }
    }
}

.request__dropdown-icon {
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.75rem);
    width: 2.45rem;
    height: 1.54rem;
    transition: ease-in-out 200ms;

    @media (max-width: $tablet) {
        top: calc(50% - 0.35rem);
        width: 1.4rem;
        height: 0.7rem;
    }

    .request__field-container.active & {
        transform: rotate(180deg);
    }
}

.request .request__field-container .request__field-label {
    background: none;
    color:#606060;
}

.request .request__field-container .request__field-label--float {
    font-size: 2rem;
    line-height: 4.8rem;

    @media (max-width: $tablet) {
        font-size: 1.4rem;
        line-height: 3.36rem;
    }

    &.float {
        font-size: 1.3rem;

        @media (max-width: $tablet) {
            font-size: 1rem;
        }
    }
}

.request .request__field-container .request__text-field {
    font-size: 2rem;
    color: $color-white;
    padding-top: 0 !important;

    &.is-invalid {
        border-bottom: 0.2rem solid #D72F4B;
    }

    @media (max-width: $tablet) {
        height: 3.2rem;
        font-size: 1.4rem;
    }
}

.request .request__field-container .request__text-field.request__textarea-field {
    font-size: 2rem;
    color: $color-white;

    @media (max-width: $tablet) {
        font-size: 1.4rem;
    }

    &--autoresize {
        width: 100%;
        min-height: 5rem;
        height: 5rem;
        overflow: hidden;
        padding-top: 1rem !important;
        resize: none;

        @media (max-width: $tablet) {
            min-height: 3.2rem;   
            height: 3.2rem;
            padding-top: 0.5rem !important;
        }
    }
}

.request__submit-container {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.request__btn {
    margin-right: 2rem;

    @media (max-width: $tablet) {
        margin-right: 0;
        margin-bottom: 1.1rem;
    }
}

.request__submit-note {
    max-width: 32.5rem;
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: normal;
    color: $color-white;

    @media (max-width: $tablet) {
        font-size: 1rem;
    }
}

.request__modal.popup-modal {

    display: flex;
    align-items: center;
    justify-content: center;

    & .request__modal-box.modal-box {
        width: 63rem;
        margin: 0;
        padding: 0;

        @media (max-width: $tablet) {
            width: 93.75%;
        }
    }

    & .request__modal-header.modal-box__header {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 3rem;

        @media (max-width: $tablet) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    & .request__modal-body.modal-box__body {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 8.3rem;
        padding-right: 1.9rem;
        padding-left: 1.9rem;

        @media (max-width: $tablet) {
            padding-top: 5.7rem;
        }
    }

    & .request__modal-text {
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.request__modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.4rem;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color:  #ffad00;
    cursor: pointer;

    &:hover {
        background-color: #6d7278;
    }

    @media (max-width: $tablet) {
        min-width: 3.5rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    path {
        stroke: $color-white; 
    }
}

.request__modal-header {
    display: flex;
    justify-content: flex-end;
}

.request__modal-close-icon {
    width: 2.6rem;
    height: 2.6rem;

    @media (max-width: $tablet) {
        width: 2rem;
        height: 2rem;
    }
}

.request__modal-text {
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 1.36;
    color: $color-black;
    text-align: center;

    @media (max-width: $tablet) {
        font-size: 1.7rem;
        line-height: 1.4;
    }
}

.request__field-container .error-list {
    position: absolute;
    bottom: -3rem;
    left: 0;
}

.autocomplete-list {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    max-width: 400px;
    max-height: 300px;
  }
  .autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-size: 2rem;
  }
  .autocomplete-item:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }