.result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10rem;

    @media (max-width: $tablet) {
        padding-top: 3rem;
    }
}

.result__title {
    max-width: 65rem;
    margin-bottom: 4rem;
    margin-top: -14.2rem;
    color: $color-white;

    @media (max-width: $tablet) {
        max-width: 75vw;
        margin-bottom: 3.2rem;
    }
}

.result__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.5rem;

    @media (max-width: $tablet) {
        margin-bottom: 2rem;
    }

    &:last-child {
        margin-bottom: 3.4rem;

        @media (max-width: $tablet) {
            margin-bottom: 2.4rem;
        }
    }
}

.result__item-icon {
    width: 7.5rem;
    height: 7.5rem;
    margin-right: 5rem;

    @media (max-width: $tablet) {
        width: 100%;
        max-width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.1em;
    }
}

.result__item-text-wraper {
    max-width: 40rem;
}

.result__item-title {
    margin-bottom: 1.4rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 1.07;
    color: $color-white;

    @media (max-width: $tablet) {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 1;
        max-width: 93%;
    }
}

.result__item-text {
    max-width: 37.4rem;
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.56;
    color: $color-white;

    @media (max-width: $tablet) {
        max-width: 56vw;
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.result__btn {
    margin-left: 9.7rem;

    @media (max-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    }
}