.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 14.2rem;
  padding-right: 14.2rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  background-color: #efefef;
  opacity: 0;
  visibility: hidden;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $tablet) {
      display: none;
    }
}

.sticky-nav__logo {
  display: flex;
}

.sticky-nav__logo-img {
  width: 8.6rem;
  height: 3.3rem;
}

.sticky-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-nav__item {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: $font-sans-regular;
  font-size: 1.4rem;
  line-height: 1.29;
  color: $color-black;

  &.js-sticky-nav-item--current {
    color: #ffae0f;
  }
}

.sticky-nav__pointer {
  position: absolute;
}