html {
  font-size: 10px;

  @media (min-width: 768px) {
    font-size: 6px;
  }

  @media (min-width: 900px) {
    font-size: 7px;
  }

  @media (min-width: 1100px) {
    font-size: 8px;
  }

  @media (min-width: 1300px) {
    font-size: 10px;
  }

  @media (min-width: 1500px) {
    // font-size: 12px;
    font-size: 11px;
  }

  @media (min-width: 1740px) {
    // font-size: 14px;
    font-size: 13px;
  }

  @media (min-width: 2000px) {
    // font-size: 16px;
    font-size: 14px;
  }

  @media (min-width: 2300px) {
    // font-size: 16px;
    font-size: 16px;
  }

  @media (min-width: 2500px) {
    // font-size: 16px;
    font-size: 17px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
  }

  @media (max-width: 440px) {
    font-size: 10px;
  }
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: 'tele2_textsans_regular', sans-serif;
  color: $color-dark;
}
// body,
// html {
//   scroll-behavior: smooth;
// }

p {
  margin: 0;
}

picture {
  display: block;
  font: 0 serif;
}

.no-wrap {
  white-space: nowrap;
}

.desktop-wrap {
  @media (max-width: $tablet) {
    display: none;
  }
}

.mobile-wrap {
  @media (min-width: $tablet) {
    display: none;
  }
}
