$font-stencil: 'stencil'; 

$font-serif-bold: 'tele2_serif-bold', serif;
$font-serif-regular: 'tele2_serif-regular', serif;

$font-sans-bold: 'tele2_textsans_bold', sans-serif;
$font-sans-regular: 'tele2_textsans_regular', sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-dark: #1f2229;
$color-light: #e8e8ed;
$color-lightgray2: #8f9399;
$color-extralight2: #f5f5fa;
$color-pink: #ff59a3;
$color-yellow-light: #e7ff85;
$color-blue: #3fcbff;
$color-dark-70: rgba(31, 34, 41, 0.7);


$desktop-hd: 1920px; 
$laptop: 1199px;
$tablet: 767px;
$mobile: 441px;
$mobile-s: 359px;
