.js-float-field {
    position: relative;

    .js-float-label {
        position: absolute;
        top: 0;
        left: 0;
    
        &.float {
            top: -2.8rem;

            @media (max-width: $tablet) {
                top: -1.8rem;
            }
        }
    }
}