.popup-modal {
    position: fixed;
    z-index: 1000;
    transition: opacity .5s;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
}

.popup-modal.popup-modal-hidden {
    pointer-events: none;
    transform: translateX(120%);
    opacity: 0;
}

.popup-modal:not(.popup-modal-hidden):before {
    background: rgba(31, 34, 41, 0.7);
    content: "";
    position: fixed;
    top: -5rem;
    bottom: -5rem;
    min-height: 100vh;
    left: 0;
    right: 0;
    width: 100vw;
}

.popup-modal .modal-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    min-height: 20vh;
    box-sizing: border-box;
    padding-bottom: 4rem;
    overflow-y: auto;
    position: relative;
    border-radius: 1rem;
}

.popup-modal .modal-box__header {
    position: relative;
    padding: 1.8rem 5rem 0 1.8rem;
}

.popup-modal .modal-box__header h2,
.popup-modal .modal-box__header h3,
.popup-modal .modal-box__header h4 {
    font-family: "tele2_serif-bold";
}

.popup-modal .modal-box__header .close {
    font-size: 3rem;
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .3s;
}

.popup-modal .modal-box__header .close:active {
    transform: scale(0.9);
}

.popup-modal .modal-box__body {
    padding: 0 1.8rem;
    flex: 100% 1 1;
    -ms-flex: 100% 1 auto;
}

.popup-modal .modal-box__actions {
    padding: 0 1.8rem 1.8rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.popup-modal .modal-box__actions.centered {
    justify-content: center;
}

.popup-modal .modal-box.modal-box--dark {
    background: #1f2229;
}

.popup-modal .modal-box.modal-box--dark i,
.popup-modal .modal-box.modal-box--dark h2,
.popup-modal .modal-box.modal-box--dark h3,
.popup-modal .modal-box.modal-box--dark h4,
.popup-modal .modal-box.modal-box--dark h5,
.popup-modal .modal-box.modal-box--dark a,
.popup-modal .modal-box.modal-box--dark p {
    color: #fff;
}

.popup-modal .modal-box.modal-box--dark .btn {
    border-color: #fff;
}

.popup-modal .modal-box.modal-box--dark .btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.popup-modal .modal-box.modal-box--dark .btn:hover {
    color: #8f9399;
    border-color: #8f9399;
}

.popup-modal .modal-box.modal-box--dark .btn.disabled,
.popup-modal .modal-box.modal-box--dark .btn:disabled {
    color: #8f9399;
    background: transparent;
    border-color: #8f9399;
    cursor: default !important;
}

.popup-modal .modal-box.modal-box-active {
    z-index: 1;
    display: flex;
}

@media all and (min-width: 768px) {
    .popup-modal .modal-box {
        min-height: 20vh;
        max-width: 100%;
        width: 54rem;
    }

    .popup-modal .modal-box:not(.modal-box--dark) {
        border: none;
        padding: 2rem;
    }

    .popup-modal .modal-box__header {
        text-align: left;
        margin-bottom: 0;
    }

    .popup-modal .modal-box__header h2,
    .popup-modal .modal-box__header h3 {
        font-size: 2.8rem;
    }

    .popup-modal .modal-box__actions {
        flex-direction: row;
        display: flex;
    }

    .popup-modal .modal-box__actions .btn {
        margin: 0 2rem 0 0;
    }
}


@media all and (min-width: 768px) {
    .popup-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow-y: auto;
    }
}

@media all and (max-width: 767px) {
    .popup-modal {
        transform: translateX(0);
        will-change: transform;
    }

    .popup-modal .modal-box {
        height: auto;
        margin: 1.8rem;
        padding-bottom: 0;
    }
}